<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>612584956945-nte8s15om8bvu6o4g102jg6saoqu4n7q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.612584956945-nte8s15om8bvu6o4g102jg6saoqu4n7q</string>
	<key>API_KEY</key>
	<string>AIzaSyA-g28iM3mF1B_S0I6Ac79Plxy8CorRIYI</string>
	<key>GCM_SENDER_ID</key>
	<string>612584956945</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.finalProject</string>
	<key>PROJECT_ID</key>
	<string>fitness-app-910f9</string>
	<key>STORAGE_BUCKET</key>
	<string>fitness-app-910f9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:612584956945:ios:b7bdce7b09d93e16cfbdb0</string>
	<key>DATABASE_URL</key>
	<string>https://fitness-app-910f9.firebaseio.com</string>
</dict>
</plist>